<div class="page-header">
  <h1>Add Neighborhood</h1>
</div>

<form action="/create_neighborhood" class="form-horizontal">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">
      Name
    </label>
    <div class="col-sm-10">
      <input type="text" id="name" name="name" placeholder="Name" class="form-control">
    </div>
  </div>

  <!-- Label and input for city -->
  <div class="form-group">
    <label for="city" class="col-sm-2 control-label">
      City
    </label>
    <div class="col-sm-10">
      <input type="text" id="city" name="city" placeholder="City" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Neighborhood" class="btn btn-primary">
    </div>
  </div>
</form>
