<div class="page-header">
  <h1>Neighborhood #<%= @neighborhood.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @neighborhood.name %></dd>

  <dt>City</dt>
  <dd><%= @neighborhood.city %></dd>

  <hr class="vertical"/>

  <h4>All venues at this neighborhood:</h4>

  <ol>
    <% neighborhood_all_venues = Venue.where({:neighborhood_id => @neighborhood.id})%>
    <% neighborhood_all_venues.each do |venue| %>

    <li>
      <%= venue.name %>
    </li>

    <% end %>
  </ol>
